.header {
    height: 80px;
    background-color: #d9d9f6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media screen and (max-width: 800px) {
    .header {
        justify-content: center;
    }
}

