@import '../common/styles/sass/mixins';

.contacts {
  height: 90vh;

  .contactsContainer {
    @include flex(column, flex-start, center, null);

    .title {
      &::after {
        left: 215px;
        @media screen and (max-width: 960px) {
          left: 200px
        }
        @media screen and (max-width: 660px) {
          left: 160px
        }
      }
    }
  }
}
