.container {
    width: 80%;
    height: 100%;
    border: 1px solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent;
}
@media screen and (max-width: 800px) {
    .container {
        justify-content: center;
        justify-content: center;
    }
}