@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';
@import '../../common/components/button/Button.module';
.formBlock {
    width: 100%;
    margin: auto;
    @include flex (null, center, null, null);
    .form {
        @include flex (column, null, null, null);
        width: 100%;
        .formInput {
            width: 100%;
            padding: 10px;
            margin-bottom: 30px;
            background-color: $bgColor;
            border: 1px solid $borderColor;
            .input {
                @include text(null, $headerFontFamily, 13px, null);
                letter-spacing: 1.4px;
                line-height: 1.6;
                background-color: $bgColor;
                border: none;
                width: 100%;
                padding: 5px;
                transition: all .3s ease;
                outline: none;
            }
        }
        div {
            .message {
                @include text(null, $headerFontFamily, 13px, null);
                border: 1px solid $borderColor;
                letter-spacing: 1.4px;
                width: 100%;
                height: 120px;
                outline: none;
                background-color: $bgColor;
                margin-bottom: 20px;
                resize: none;
                padding: 10px;
            }
        }
        button[type='submit'] {
            @extend .btn;
            width: 180px;
            height: 60px;
            font-size: 18px;
            padding: 5px;
            @media screen and (max-width: 770px) {
                width: 154px;
                height: 49px;
                font-size: 15px;
            }
        }
    }
}
