.worksBlock {
    min-height: 100vh;
    /*background-color: #fff;*/
}
.worksContainer {
    /*align-items: center;*/
    flex-direction: column;
    /*justify-content: flex-start;*/
    background-color: #F6FBFF;
}

.works {
    border: 1px solid;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title::after {
    left: 270px;
}
@media screen and (max-width: 1150px) {
    .works {
        justify-content: center;
    }
}

@media screen and (max-width: 960px) {
    .title::after {
        left: 240px
    }
}

@media screen and (max-width: 660px) {
    .title::after {
        left: 190px
    }
}

