.skillsBlock {
    width: 100%;
    min-height: 100vh;
}
.skillsContainer {
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.title::after {
    left: 145px;
}

.skills {
    border: 1px solid;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
}

@media screen and (max-width: 660px) {
    .skills {
        justify-content: center;
    }
}

@media screen and (max-width: 960px) {
    .title::after {
        left: 125px
    }
}

@media screen and (max-width: 660px) {
    .title::after {
        left: 105px
    }
}
