@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.skillsBlock {
  width: 100%;
  min-height: 100vh;
  .skillsContainer {
    flex-direction: column;
    .title::after {
      left: 145px;
      @media screen and (max-width: 960px) {
        left: 125px;
      }
      @media screen and (max-width: 660px) {
        left: 105px;
      }
    }
    .skills {
      width: 100%;
      min-height: 90vh;
      @include flex (column, null, null, null);
      @media screen and (max-width: 660px) {
        justify-content: center;
      }
    }
  }
}
