@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.skillsInners {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
}
.nameSkillBlock {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.nameSkill {
    @include text($headersColor, $headerFontFamily, 24px, 500);
    line-height: 1.2;
}
.skillsText {
    width: 50%;
    margin-bottom: 15px;
}
.skillsInnersBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}