@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.skill {
  width: 320px;
  height: 60px;
  margin: 29px 0;
  display: flex;

  .skillIcon {
    @include alignmentFlex(flex, center, center);
    background-color: $borderColor;
    border-radius: 9999px;
    min-width: 60px;
    height: 60px;
    margin-right: 50px;
    @media screen and (max-width: 960px) {
      min-width: 50px;
      height: 50px;
    }

    & svg {
      width: 40px;
      height: 40px;
      @media screen and (max-width: 960px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  .skillBlock {
    @include alignmentFlex(flex, center, center);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 90px;
      background-color: $borderColor;
      top: -15px;
      left: -23px;
      transform: rotate(8deg);
      @media screen and (max-width: 960px) {
        height: 80px;
      }
    }
  }

  .skillTitle h3 {
    @include text($headersColor, $headerFontFamily, 24px, null);
    @media screen and (max-width: 960px) {
      font-size: 20px;
    }
  }
}
