@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";


//width: 100%;
//height: auto;
//margin-top: 20px;

.btn {
  height: auto;
  margin-top: 20px;
  padding: 13px 32px;
  display: inline-block;
  border: 2px solid $headersColor;
  background-color: $headersColor;
  transition-duration: 300ms;
  transition-property: all;
  text-decoration: none;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @include text(#FFFFFF, $headerFontFamily, null, 500);
  @media screen and (max-width: 770px) {
    padding: 10px 28px;
    font-size: 15px;
  }

  &:hover {
    background-color: #FFFFFF;
    color: $headersColor;
  }
}
