@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.project {
  width: 500px;
  height: 400px;
  @include flex(column, null, center, null);
  text-align: center;
  border: 1px solid $borderColor;
  margin-bottom: 10px;

  .img {
    width: 100%;
    height: 60%;
    position: relative;
    @include image(null, cover, center, no-repeat);

    &::before {
      content: "";
      position: absolute;
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .btnWatchProject {
      cursor: pointer;
      @include flex(column, center, null, null);
      font-family: $textFontFamily;
      background-color: #FFFFFF;
      color: $headersColor;
      border: 2px solid $headersColor;
      padding: 10px 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        background-color: $headersColor;
        color: #FFFFFF;
      }

      @media screen and (max-width: 600px) {
        width: 100px;
        height: 30px;
        font-size: 16px;
        padding: 5px 10px;
      }
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($headersColor, $headerFontFamily, 24px, 500);
      margin: 10px 0 15px;
    }

    .description {
      @include text($textColor, $textFontFamily, 15px, 400);
    }
  }
}
