@mixin text ($lettersColor, $fontFamily, $fontSize, $fontWeight) {
  color: $lettersColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
};

@mixin flex ($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
};

@mixin image ($url, $bgSize, $bgPosition, $bgRepeat) {
  background-image: $url;
  background-size: $bgSize;
  background-position: $bgPosition;
  background-repeat: $bgRepeat;
}
