.footer {
    height: 300px;
    background-color: #d9d9f6;
}
.footerContainer {
    align-items: center;
    flex-direction: column;
}
.title {
    margin-top: 20px;
    background-color: #f8f8da;
}
.iconBlock {
    border: 1px solid black;
    width: 300px;
    height: 50px;
    margin: auto;
    background-color: #d2d0d0;
    display: flex;
    justify-content: space-between;
}
.iconBlock > div{
    background-color: #bea6a6;
    width: 50px;
    height: 50px;
}