@import '../common/styles/sass/mixins';

.footer {
  height: 10vh;

  .footerContainer {
    .iconBlock {
      width: 180px;
      height: 40px;
      padding: 5px;
      margin: auto;
      @include flex(null, space-between, null, null);
      @media screen and (max-width: 660px) {
        width: 150px;
        height: 30px;
      }
    }
  }
}