@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.projectsBlock {
  min-height: 100vh;

  .projectsContainer {
    flex-direction: column;
    background-color: $bgColor;

    .projects {
      width: 100%;
      @include flex(null, space-between, null, wrap);
    }
  }
}

.title::after {
  left: 270px;
}

@media screen and (max-width: 960px) {
  .title::after {
    left: 240px
  }
}

@media screen and (max-width: 660px) {
  .title::after {
    left: 190px
  }
}

